body {
  padding: 0px;
  margin: 0px;
  background-repeat: no-repeat;
  background-image: url("https://www.k-etzion.co.il/Pictures/%D7%AA%D7%9E%D7%95%D7%A0%D7%94%20%D7%9C%D7%A1%D7%98%D7%A8%D7%99%D7%A4%20%D7%9E%D7%90%D7%A1%D7%99%D7%A3_20220518232049.872_20220718111848.991_20230702121407.484.png");
}
